alias ipython_cb='LD_LIBRARY_PATH=/export/unicomplex_data/unicomplex/mounts/wr/scratchpad/saevar/couchbase_so/:$LD_LIBRARY_PATH ipython'

alias tmux='TERM=xterm-256color tmux'

alias db="cd ~/gitlab/thorgeir/db_queries"

#alias t4='bash ~/gitlab/thorgeir/tools/tgrid.sh 4'

# Open all file in the current directory in fullscreen mode.
#alias feh='feh -F *'
#alias ls='ls --color -la'

# 
alias sprunge='curl -F "sprunge=<-" http://sprunge.us'

# View image
# alias img='gpicview'

# VNC shared allow you to view desktop on a
# server without breaking connection for other
# viewers.
alias vncviewer='vncviewer -Shared'

# For the office network.
#alias chrome='google-chrome --explicitly-allowed-ports=6668 --proxy-pac-url="http://jira-proxy.mordor.local/proxy.pac"' 
alias chrome='google-chrome --explicitly-allowed-ports=6668 --proxy-pac-url="http://10.101.255.240/proxy.pac"' 
# USE chrome_proxy command instead ! see `vim /usr/bin/chrome_proxy`

# I use files instead.
#alias c3devwritedb='mysql --defaults-extra-file=/home/thorgeir/.config/mysql/write-dev-config'

# vim-movement in ipyton as a default option.
alias ipython='ipython --TerminalInteractiveShell.editing_mode=vi'

#alias python=/usr/bin/python2.7

# Some hax to get more acces ( i think :/ for usb things)
alias unetbootin='sudo QT_X11_NO_MITSHM=1 unetbootin' 
alias pdfviewer='evince'
alias pdfviewer2='zathura'
alias openshot='/home/thorgeir/Downloads/'
alias senv='source /export/unicomplex_data/unicomplex/env.sh'

alias ssh_vi="ssh $@ -lt 'bash -o vi';"

#
# UNICOMPLEX DIRECTORIES SHORTCUTS
#
# Changing directories in the unicomplex repository.
repository=/export/unicomplex_data/unicomplex/

alias ux='cd $repository'
alias uxk='cd $repository/kafka'
alias uxt='cd $repository/task'
alias uxp='cd $repository/module/python'
alias uxa='cd $repository/module/python/abutils/tools'
alias uxplf='cd $repository/module/python/linkfunnel'
alias uxtlf='cd $repository/task/linkfunnel'
alias uxplm='cd $repository/module/python/linkmonitor'
alias uxpth='cd $repository/module/python/thorgeir_utils'
alias uxpab='cd $repository/module/python/abutils/tools'
alias uxpabu='cd $repository/module/python/abutils/tools/url_tool'
alias uxtlm='cd $repository/task/linkmonitor'
alias uxtvt='cd $repository/task/virustotal_feed'
alias uxtdow='cd $repository/task/downloaders'
alias uxtsc='cd $repository/task/scaleway_ip_rotator'
alias uxtsm='cd $repository/task/sandbox_monitoring'

# SANDBOX DIRECTORIES SHORTCUTS
#
sb_repository=/home/thorgeir/gitlab/sandbox_array
alias sb='cd $sb_repository'
alias sba='cd $sb_repository/aptlab'
alias sbac='cd $sb_repository/aptlab/cuckoo'
alias sbap='cd $sb_repository/aptlab/payload'
alias sbcca='cd $sb_repository/cuckoo/cuckoo_api'
alias sbdep='cd $sb_repository/sandbox_array_deployment'

alias gw='cd ~/github/webCarouselQ/'

# Let you know when the command has finished.
# E.g. $ sleep 10 | alert
# After 10 sec. it will create a pop-up window 
# in the right upper corner withe 'sleep 10' 
# as a content.
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# for the .dotfiles repository.
alias config='/usr/bin/git --git-dir=/home/thorgeir/.cfg/ --work-tree=/home/thorgeir'

alias slack-term='/usr/bin/slack-term -config ~/.config/slack-term/slack-term.json'
