alias ipython_cb='LD_LIBRARY_PATH=/export/unicomplex_data/unicomplex/mounts/wr/scratchpad/saevar/couchbase_so/:$LD_LIBRARY_PATH ipython'

alias tmux='TERM=xterm-256color tmux'

# Open all file in the current directory in fullscreen mode.
alias feh='feh -F *'
#alias ls='ls --color -la'

# 
alias sprunge='curl -F "sprunge=<-" http://sprunge.us'

# View image
alias img='gpicview'

# For the office network.
alias chrome='google-chrome --explicitly-allowed-ports=6668 --proxy-pac-url="http://jira-proxy.mordor.local/proxy.pac"' 

# I use files instead.
#alias c3devwritedb='mysql --defaults-extra-file=/home/thorgeir/.config/mysql/write-dev-config'

# vim-movement in ipyton as a default option.
alias ipython='ipython --TerminalInteractiveShell.editing_mode=vi'

# Some hax to get more acces ( i think :/ for usb things)
alias unetbootin='sudo QT_X11_NO_MITSHM=1 unetbootin' 

alias pdfviewer='evince'
alias pdfviewer2='zathura'

alias openshot='/home/thorgeir/Downloads/'

alias senv='source /export/unicomplex_data/unicomplex/env.sh'

#
# UNICOMPLEX DIRECTORIES SHORTCUTS
#
# Changing directories in the unicomplex repository.
repository=/export/unicomplex_data/unicomplex/

alias ux='cd $repository'
alias uxk='cd $repository/kafka'
alias uxt='cd $repository/task'
alias uxp='cd $repository/module/python'
alias uxa='cd $repository/module/python/abutils/tools'
alias uxplf='cd $repository/module/python/linkfunnel'
alias uxtlf='cd $repository/task/linkfunnel'
alias uxplm='cd $repository/module/python/linkmonitor'
alias uxpth='cd $repository/module/python/thorgeir_utils'
alias uxpapt='cd $repository/module/python/abutils/tools'
alias uxpaut='cd $repository/module/python/abutils/tools/url_tool'
alias uxtlm='cd $repository/task/linkmonitor'
alias uxtvtu='cd $repository/task/virustotal_feed_url'
alias uxtdow='cd $repository/task/downloaders'

#
# SANDBOX DIRECTORIES SHORTCUTS
#
sb_repository=/home/thorgeir/gitlab/sandbox/
alias sb='cd $sb_repository'
alias sba='cd $sb_repository/aptlab'
alias sbac='cd $sb_repository/aptlab/cuckoo'
alias sbap='cd $sb_repository/aptlab/payload'
alias sbcca='cd $sb_repository/cuckoo/cuckoo_api'

alias st='cd ~/store/storage/'

alias gw='cd ~/github/webCarouselQ/'

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# for the .dotfiles repository.
alias config='/usr/bin/git --git-dir=/home/thorgeir/.cfg/ --work-tree=/home/thorgeir'
